body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  background: #000000c2;
  flex-direction: column;
}
.header {
  margin: auto;
  width: 60%;
  flex-direction: row;
  display: flex;
}
#header {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.877);
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 700px) {
  .header {
    margin-left: auto;
    width: 90%;
  }
  .list li {
    margin: 0.1rem;
  }
  .list {
    width: 50%;
  }
  .nav-link:hover {
    border-radius: 0.1rem;
    padding: 0.1rem;
  }
}

#header-img {
  width: 4rem;
  height: 4rem;
  margin-right: 30%;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.list li {
  cursor: pointer;
  padding: 1rem;
}

.nav-link,
.social {
  text-decoration: none;
  color: rgb(255, 123, 0);
  width: 100%;
}
.nav-link:hover {
  color: black;
  background: rgb(255, 123, 0);
  border-radius: 1rem;
  padding: 1rem;
}
#nav-bar {
  margin-left: auto;
}
/* -----------------media------------------ */
#media {
  margin: auto;
  margin-top: 5rem;
}
/* -----------------form------------------- */
#form {
  margin: auto;
  margin-top: 2rem;
}
#email {
  padding: 0.8rem;
  border-radius: 0.3rem;
  border: 3px solid orangered;
}
#submit {
  padding: 0.8rem;
  border-radius: 0.3rem;
  background: rgb(255, 123, 0);
}
/* -------------------about------------------- */
#about,
#terms {
  background: #fff;
  margin: auto;
  border: 3px dashed orangered;
  padding: 1rem;
  width: 70%;
  margin-top: 5rem;
}
.p {
  text-align: justify;
}
/* ------------------footer---------------- */
#contact {
  margin: auto;
}
.social {
  margin: 2rem;
}
#Features {
  width: auto;
  margin: auto;
  text-align: center;
  display: flex;
}
.pictures {
  display: flex;
  flex-direction: row;
}
.fiatures {
  width: 11rem;
  height: 11rem;
  margin-top: 3rem;
}
