body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}
#main-doc {
  /* position: absolute; */
  width: 80%;
  margin-left: 25%;
}
#navbar {
  position: fixed;
  width: 20%;
  height: 100vh;
  margin-right: 3rem;
  border-right: 3px solid gray;
  padding: 1rem;
}
header {
  font-size: 2.5rem;
  background-color: rgba(0, 0, 255, 0.281);
  padding: 1rem;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list li {
  font-size: large;
  border: 2px solid gray;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
li:hover {
  background-color: rgba(0, 0, 255, 0.281);
}
a {
  text-decoration: none;
}
.title {
  text-align: center;
  border: 2px dashed blue;
  background-color: rgba(0, 0, 255, 0.281);
}
.main-section {
  border-bottom: 1px solid gray;
  padding: 2rem;
}
p {
  margin-top: 2rem;
}
code {
  display: block;
  background-color: black;
  padding: 0.2rem;
  color: yellow;
  margin-top: 1rem;
}

@media only screen and (max-width: 700px) {
  #navbar {
    width: 30%;
  }
  #main-doc {
    width: 70%;
    margin-left: 35%;
  }
}
